In [2]:
import os, sys

from utils import sql_functions
import pandas as pd
import json

In [3]:
#ROOTPATH
path = os.path.dirname(os.getcwd())
sys.path.append(path)

# JSON SETTINGS
settings_file = path + os.sep + "config" + os.sep + "bd_info.json"

def read_json(fullpath):
    with open(fullpath, "r") as json_file_readed:
        json_readed = json.load(json_file_readed)
    return json_readed

json_r = read_json(fullpath=settings_file)

# BBDD SETTINGS
IP_DNS = json_r["IP_DNS"]
PORT = json_r["PORT"]
USER = json_r["USER"]
PASSWORD = json_r["PASSWORD"]
BD_NAME = json_r["BD_NAME"]

In [4]:
# INSTANCIA MYSQL
mysql = sql_functions.MySQL(IP_DNS, USER, PASSWORD, BD_NAME, PORT)

In [4]:
# SENTENCIAS SQL PARA TRAER LAS TABLAS
sql1 = "SELECT * FROM fire_archive_V1_96617"

sql2 = "SELECT * FROM fire_archive_M6_96619"

In [7]:
# CONECTAMOS A LA BBDD
connection = mysql.connect()

# EJECUTAMOS SENTENCIAS
df1 = pd.read_sql(sql1, con=connection)
df2 = pd.read_sql(sql2, con=connection)

#CERRAMOS CONEXIÃ“N
mysql.close()

Connected to MySQL server [australia_fires]
Close connection with MySQL server [australia_fires]

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36011 entries, 0 to 36010
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fire_id     36011 non-null  int64
 1   latitude    36011 non-null  object
 2   longitude   36011 non-null  float64
 3   brightness  36011 non-null  float64
 4   scan        36011 non-null  float64
 5   track       36011 non-null  float64
 6   acq_date    36011 non-null  object
 7   acq_time    36011 non-null  int64
 8   satellite   36011 non-null  object
 9   instrument  36011 non-null  object
 10  confidence  36011 non-null  int64
 11  version     36011 non-null  float64
 12  bright_t31  36011 non-null  float64
 13  frp         36011 non-null  float64
 14  daynight    36011 non-null  object
 15  fire_type   36011 non-null  int64
dtypes: float64(7), int64(4), object(5)
memory usage: 4.4+ MB

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184778 entries, 0 to 184777
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fire_id     184778 non-null  int64
 1   latitude    184778 non-null  object
 2   longitude   184778 non-null  float64
 3   bright_ti4  184778 non-null  float64
 4   scan        184778 non-null  float64
 5   track       184778 non-null  float64
 6   acq_date    184778 non-null  object
 7   acq_time    184778 non-null  int64
 8   satellite   184778 non-null  object
 9   instrument  184778 non-null  object
 10  confidence  184778 non-null  object
 11  version     184778 non-null  int64
 12  bright_ti5  184778 non-null  float64
 13  frp         184778 non-null  float64
 14  fire_type   184778 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 21.1+ MB

In [21]:
df2.drop('daynight', axis=1, inplace=True)
df2

,fire_id,latitude,longitude,bright1,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright2,frp,fire_type
0,0,-11.807,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,0
1,1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,0
2,2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,0
3,3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,0
4,4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,0
36007,36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,0
36008,36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,0
36009,36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,0
36010,36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,2

In [22]:
df1

,fire_id,latitude,longitude,bright1,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright2,frp,fire_type
0,0,-34.45902,150.88040,326.5,0.60,0.71,2019-08-01,246,N,VIIRS,n,1,290.7,5.8,3
1,1,-31.70724,151.07191,367.0,0.56,0.69,2019-08-01,247,N,VIIRS,h,1,291.9,10.4,0
2,2,-31.39626,149.65253,325.2,0.68,0.74,2019-08-01,247,N,VIIRS,n,1,292.7,5.6,0
3,3,-30.39774,152.06432,347.8,0.48,0.65,2019-08-01,247,N,VIIRS,n,1,287.6,9.1,0
4,4,-31.20248,151.89766,350.7,0.50,0.66,2019-08-01,247,N,VIIRS,n,1,292.3,9.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184773,184773,-32.37209,116.10032,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,n,1,284.8,1.2,0
184774,184774,-32.38958,116.11151,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,n,1,284.7,1.1,0
184775,184775,-33.12481,116.03968,299.9,0.47,0.40,2019-09-30,1702,N,VIIRS,n,1,285.0,1.3,0
184776,184776,-33.6348,122.92641,296.2,0.43,0.38,2019-09-30,1702,N,VIIRS,n,1,285.9,0.5,0
184777,184777,-33.63897,122.93050,297.3,0.44,0.38,2019-09-30,1702,N,VIIRS,n,1,285.9,0.6,0

In [12]:
df2.rename(columns={'brightness':'bright1', 'bright_t31':'bright2'}, inplace=True)
df1.rename(columns={'bright_ti4':'bright1', 'bright_ti5':'bright2'}, inplace=True)

In [40]:
df = pd.concat([df2, df1], ignore_index=True)
df.drop('fire_id', axis=1, inplace=True)
df.reset_index(inplace=True)
df.rename(columns={'index':'fire_id'}, inplace=True)
df.set_index('fire_id', inplace=True)
df

,latitude,longitude,bright1,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright2,frp,fire_type
fire_id,,,,,,,,,,,,,,
0,-11.807,142.05830,313.0,1.00,1.00,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,0
1,-11.7924,142.08500,319.3,1.00,1.00,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,0
2,-12.8398,132.87440,311.6,3.10,1.70,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,0
3,-14.4306,143.30350,310.1,1.10,1.10,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,0
4,-12.4953,131.48970,310.3,4.00,1.90,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220784,-32.37209,116.10032,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,n,1.0,284.8,1.2,0
220785,-32.38958,116.11151,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,n,1.0,284.7,1.1,0
220786,-33.12481,116.03968,299.9,0.47,0.40,2019-09-30,1702,N,VIIRS,n,1.0,285.0,1.3,0
220787,-33.6348,122.92641,296.2,0.43,0.38,2019-09-30,1702,N,VIIRS,n,1.0,285.9,0.5,0
220788,-33.63897,122.93050,297.3,0.44,0.38,2019-09-30,1702,N,VIIRS,n,1.0,285.9,0.6,0

In [41]:
# ELIMINAMOS LA COLUMNA ACQ_DATE DADO QUE NO APORTAN VALOR
df.drop('acq_date', axis=1, inplace=True)

In [44]:
# HACEMOS GET DUMMIES PARA STELLITE E INSTRUMENT
df = pd.concat([df, pd.get_dummies(df[["satellite", "instrument"]])], axis=1)
df.drop(['satellite', 'instrument'], axis=1, inplace=True)

In [52]:
df.latitude = df.latitude.apply(lambda x: float(x))
df.drop('confidence', axis=1, inplace=True)
df

,latitude,longitude,bright1,scan,track,acq_time,version,bright2,frp,fire_type,satellite_Aqua,satellite_N,satellite_Terra,instrument_MODIS,instrument_VIIRS,satellite_Aqua,satellite_N,satellite_Terra,instrument_MODIS,instrument_VIIRS
fire_id,,,,,,,,,,,,,,,,,,,,
0,-11.80700,142.05830,313.0,1.00,1.00,56,6.3,297.3,6.6,0,0,0,1,1,0,0,0,1,1,0
1,-11.79240,142.08500,319.3,1.00,1.00,56,6.3,297.3,11.3,0,0,0,1,1,0,0,0,1,1,0
2,-12.83980,132.87440,311.6,3.10,1.70,57,6.3,298.7,23.1,0,0,0,1,1,0,0,0,1,1,0
3,-14.43060,143.30350,310.1,1.10,1.10,57,6.3,296.1,6.5,0,0,0,1,1,0,0,0,1,1,0
4,-12.49530,131.48970,310.3,4.00,1.90,57,6.3,298.8,27.6,0,0,0,1,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220784,-32.37209,116.10032,296.1,0.48,0.40,1702,1.0,284.8,1.2,0,0,1,0,0,1,0,1,0,0,1
220785,-32.38958,116.11151,296.1,0.48,0.40,1702,1.0,284.7,1.1,0,0,1,0,0,1,0,1,0,0,1
220786,-33.12481,116.03968,299.9,0.47,0.40,1702,1.0,285.0,1.3,0,0,1,0,0,1,0,1,0,0,1
220787,-33.63480,122.92641,296.2,0.43,0.38,1702,1.0,285.9,0.5,0,0,1,0,0,1,0,1,0,0,1
220788,-33.63897,122.93050,297.3,0.44,0.38,1702,1.0,285.9,0.6,0,0,1,0,0,1,0,1,0,0,1

In [28]:
df.fire_type.unique()

array([0, 2, 3], dtype=int64)

In [54]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA

import numpy as np

In [55]:
y = np.array(df['fire_type'])
X = np.array(df.drop('fire_type', axis=1))

# PONEMOS 80% de TEST PARA REDUCIR EL TIEMPO DE ENTRENAMIENTO
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8, random_state=42)

In [58]:
pipe = Pipeline(steps=[
    ('pca', PCA(n_components=0.9)),
    ('reg', SVC())
])

tree_params = {
    'reg': [RandomForestClassifier()],
}

svc_params = {
    'reg': [SVC()],
}

log_params = {
    'reg': [LogisticRegression()],
}



search_space = [
    tree_params,
    svc_params,
    log_params
]

grid = GridSearchCV(estimator = pipe,
                  param_grid = search_space,
                  cv = 10,
                  verbose=100,
                  return_train_score= True)

grid.fit(X_train,y_train)

Fitting 10 folds for each of 3 candidates, totalling 30 fits
[CV 1/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 1/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.959) total time=   6.8s
[CV 2/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 2/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.962) total time=   6.9s
[CV 3/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 3/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.959) total time=   7.0s
[CV 4/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 4/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.962) total time=   6.7s
[CV 5/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 5/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.959) total time=   6.9s
[CV 6/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 6/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.957) total time=   6.8s
[CV 7/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 7/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.956) total time=   6.8s
[CV 8/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 8/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.957) total time=   6.6s
[CV 9/10; 1/3] START reg=RandomForestClassifier()...............................
[CV 9/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.957) total time=   6.9s
[CV 10/10; 1/3] START reg=RandomForestClassifier()..............................
[CV 10/10; 1/3] END reg=RandomForestClassifier();, score=(train=1.000, test=0.960) total time=   6.8s
[CV 1/10; 2/3] START reg=SVC()..................................................
[CV 1/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.0s
[CV 2/10; 2/3] START reg=SVC()..................................................
[CV 2/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.0s
[CV 3/10; 2/3] START reg=SVC()..................................................
[CV 3/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.0s
[CV 4/10; 2/3] START reg=SVC()..................................................
[CV 4/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.0s
[CV 5/10; 2/3] START reg=SVC()..................................................
[CV 5/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.0s
[CV 6/10; 2/3] START reg=SVC()..................................................
[CV 6/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.0s
[CV 7/10; 2/3] START reg=SVC()..................................................
[CV 7/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.1s
[CV 8/10; 2/3] START reg=SVC()..................................................
[CV 8/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.0s
[CV 9/10; 2/3] START reg=SVC()..................................................
[CV 9/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.0s
[CV 10/10; 2/3] START reg=SVC().................................................
[CV 10/10; 2/3] END reg=SVC();, score=(train=0.977, test=0.977) total time=   3.1s
[CV 1/10; 3/3] START reg=LogisticRegression()...................................
[CV 1/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.5s
[CV 2/10; 3/3] START reg=LogisticRegression()...................................
[CV 2/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.4s
[CV 3/10; 3/3] START reg=LogisticRegression()...................................
[CV 3/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.5s
[CV 4/10; 3/3] START reg=LogisticRegression()...................................
[CV 4/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.4s
[CV 5/10; 3/3] START reg=LogisticRegression()...................................
[CV 5/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.4s
[CV 6/10; 3/3] START reg=LogisticRegression()...................................
[CV 6/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.4s
[CV 7/10; 3/3] START reg=LogisticRegression()...................................
[CV 7/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.4s
[CV 8/10; 3/3] START reg=LogisticRegression()...................................
[CV 8/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.5s
[CV 9/10; 3/3] START reg=LogisticRegression()...................................
[CV 9/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.4s
[CV 10/10; 3/3] START reg=LogisticRegression()..................................
[CV 10/10; 3/3] END reg=LogisticRegression();, score=(train=0.977, test=0.977) total time=   0.4s

GridSearchCV(cv=10,
             estimator=Pipeline(steps=[('pca', PCA(n_components=0.9)),
                                       ('reg', SVC())]),
             param_grid=[{'reg': [RandomForestClassifier()]}, {'reg': [SVC()]},
                         {'reg': [LogisticRegression()]}],
             return_train_score=True, verbose=100)

In [59]:
grid.best_estimator_

Pipeline(steps=[('pca', PCA(n_components=0.9)), ('reg', SVC())])

In [60]:
grid.best_estimator_.score(X_train, y_train)

0.9772855945829654

In [61]:
grid.best_estimator_.score(X_test, y_test)

0.9775238914805924

In [77]:
from sklearn.metrics import accuracy_score, recall_score

y_pred_svc = grid.best_estimator_.predict(X_test)
svc_acc_score = accuracy_score(y_test, y_pred_svc)
svc_rec_score = recall_score(y_test, y_pred_svc, average='macro')

data = {'student_id':['TheDataApes'], 'chosen_model':['SVC'], 'acc_score':[svc_acc_score], 'recall_score':[svc_rec_score]}

In [78]:
lg = Pipeline(steps=[
    ('pca', PCA(n_components=0.9)),
    ('logreg', LogisticRegression())
])

lg.fit(X_train, y_train)
y_pred_lg = lg.predict(X_test)
lg_acc_score = accuracy_score(y_test, y_pred_lg)
lg_rec_score = recall_score(y_test, y_pred_lg, average='macro')

data['student_id'].append('TheDataApes')
data['chosen_model'].append('Logistic')
data['acc_score'].append(lg_acc_score)
data['recall_score'].append(lg_rec_score)

In [79]:
forest = Pipeline(steps=[
    ('pca', PCA(n_components=0.9)),
    ('forest', RandomForestClassifier())
])

forest.fit(X_train, y_train)
y_pred_f = forest.predict(X_test)
f_acc_score = accuracy_score(y_test, y_pred_f)
f_rec_score = recall_score(y_test, y_pred_f, average='macro')

data['student_id'].append('TheDataApes')
data['chosen_model'].append('RandomForest')
data['acc_score'].append(f_acc_score)
data['recall_score'].append(f_rec_score)

In [81]:
results = pd.DataFrame(data, index=range(len(data['student_id'])))
results

    student_id  chosen_model  acc_score  recall_score
0  TheDataApes           SVC   0.977524      0.333333
1  TheDataApes      Logistic   0.977524      0.333333
2  TheDataApes  RandomForest   0.958167      0.370826

In [98]:
# create the loop to insert automatically all the rows in the dataframe

# CREAMOS UNA LISTA DE LAS COLUMNAS
valores = results.dtypes
sql_insert_columns = str(valores.index[0].lower())
for i in range(1,len(valores)):
    row =',' +  valores.index[i].lower()
    sql_insert_columns += row

# INICIAMOS UNA CONEXIÃ“N CON LA BBDD
mysql.connect()

# CREAMOS UNA LISTA CON LOS VALORES Y CREAMOS LA SENTENCIA SQL PARA INSERTAR LA FILA
for i in range(len(results)):
    values_list = results.iloc[i].to_list()
    sql_insert_values = "'" + str(values_list[0]) + "'"
    for elem in values_list[1:]:
        sql_insert_values += ", '" + str(elem) + "'"

    insert_row_sql = f"""INSERT INTO student_findings 
    ({sql_insert_columns})
                VALUES 
    ({sql_insert_values})"""
    print(insert_row_sql)
    # SE INSERTA LA FILA
    mysql.execute_interactive_sql(sql=insert_row_sql)

#SE CIERRA LA CONEXIÃ“N
mysql.close()

Connected to MySQL server [australia_fires]
INSERT INTO student_findings
    (student_id,chosen_model,acc_score,recall_score)
                VALUES
    ('TheDataApes', 'SVC', '0.9775238914805924', '0.3333333333333333')
Executed

INSERT INTO student_findings
    (student_id,chosen_model,acc_score,recall_score)
                VALUES
    ('TheDataApes', 'SVC', '0.9775238914805924', '0.3333333333333333')

 successfully
INSERT INTO student_findings
    (student_id,chosen_model,acc_score,recall_score)
                VALUES
    ('TheDataApes', 'Logistic', '0.9775238914805924', '0.3333333333333333')
(1062, "Duplicate entry 'TheDataApes' for key 'PRIMARY'")
INSERT INTO student_findings
    (student_id,chosen_model,acc_score,recall_score)
                VALUES
    ('TheDataApes', 'RandomForest', '0.9581672630101001', '0.370825763999535')
(1062, "Duplicate entry 'TheDataApes' for key 'PRIMARY'")
Close connection with MySQL server [australia_fires]

In [5]:
# ARREGLILLOS PACO

apes2 = """INSERT INTO student_findings 
    (student_id,chosen_model,acc_score,recall_score)
                VALUES 
    ('TheDataApes_1', 'Logistic', '0.9775238914805924', '0.3333333333333333')"""

apes3 = """INSERT INTO student_findings 
    (student_id,chosen_model,acc_score,recall_score)
                VALUES 
    ('TheDataApes_2', 'RandomForest', '0.9581672630101001', '0.370825763999535')"""

mysql.connect()
mysql.execute_interactive_sql(sql=apes2)
mysql.execute_interactive_sql(sql=apes3)
mysql.close()

Connected to MySQL server [australia_fires]
Executed

INSERT INTO student_findings
    (student_id,chosen_model,acc_score,recall_score)
                VALUES
    ('TheDataApes_1', 'Logistic', '0.9775238914805924', '0.3333333333333333')

 successfully
Executed

INSERT INTO student_findings
    (student_id,chosen_model,acc_score,recall_score)
                VALUES
    ('TheDataApes_2', 'RandomForest', '0.9581672630101001', '0.370825763999535')

 successfully
Close connection with MySQL server [australia_fires]

In [ ]:
# modification update